<div class="container">
  <div class="row">
    <h2>WK stand teams</h2>
    <hr>
    <div class="col-xs-6">
      <div class="list-group-item clearfix" *ngFor="let wedstrijd of team1; let i = index" style="background-color: red">
        <div class="list-group-item-header">
          bier
        </div>
          {{  getCompetitieregel(i)  }} 
        <span class="pull-right">
            {{ getStand(i) }}
        </span>
      </div>
    </div>    
  </div>
</div>

